.u-section-1 {
    background-image: url("images/ggh.jpg");
    background-position: 50% 50%;
}

    .u-section-1 .u-sheet-1 {
        min-height: 734px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 1140px;
        margin: 0 auto;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 734px;
    }

    .u-section-1 .u-container-layout-1 {
        padding: 60px 30px 60px 35px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 2;
        margin: 247px 64px 0 0;
    }

    .u-section-1 .u-image-1 {
 
        background-position: 50% 50%;
        min-height: 734px;
    }

    .u-section-1 .u-container-layout-2 {
        padding: 30px 0;
    }

    .u-section-1 .u-group-1 {
        min-height: 209px;
        width: 582px;
        background-image: none;
        margin: 30px auto 0 -440px;
    }

    .u-section-1 .u-container-layout-3 {
        padding: 30px;
    }

    .u-section-1 .u-text-2 {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2;
        background-image: none;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: "PT Sans", sans-serif;
        text-align: left;
        margin: 0;
    }

    .u-section-1 .u-text-3 {
        text-align: left;
        font-weight: 700;
        font-size: 6rem;
        text-transform: none;
        letter-spacing: normal;
        font-family: Roboto, sans-serif;
        margin: 19px 0 0;
    }

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 476px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 697px;
    }

    .u-section-1 .u-text-1 {
        margin-right: 0;
    }

    .u-section-1 .u-image-1 {
        min-height: 697px;
    }

    .u-section-1 .u-group-1 {
        width: 499px;
        margin-left: -357px;
    }

    .u-section-1 .u-text-3 {
        font-size: 4.75rem;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 669px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 669px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .u-section-1 .u-text-1 {
        font-size: 1.125rem;
    }

    .u-section-1 .u-image-1 {
        min-height: 669px;
    }

    .u-section-1 .u-group-1 {
        min-height: 192px;
        width: 404px;
        margin-top: 11px;
        margin-left: -270px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 30px;
    }

    .u-section-1 .u-text-3 {
        font-size: 4.0625rem;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1225px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: 130px;
        margin-bottom: 54px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 317px;
        order: 1;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 0;
    }

    .u-section-1 .u-image-1 {
        min-height: 724px;
        order: 0;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-1 .u-group-1 {
        min-height: 180px;
        margin-top: -77px;
        margin-left: 39px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-1 .u-text-2 {
        width: auto;
        margin-top: 35px;
    }

    .u-section-1 .u-text-3 {
        width: auto;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1018px;
    }

    .u-section-1 .u-layout-wrap-1 {
        margin-top: 140px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-1 .u-text-1 {
        width: auto;
    }

    .u-section-1 .u-image-1 {
        min-height: 456px;
    }

    .u-section-1 .u-group-1 {
        min-height: 154px;
        width: 310px;
        margin-top: -90px;
        margin-left: 12px;
    }

    .u-section-1 .u-text-2 {
        margin-top: 0;
    }

    .u-section-1 .u-text-3 {
        font-size: 3.4375rem;
    }
}

.u-section-2 .u-sheet-1 {
    min-height: 50px;
}

.u-section-3 {
    background-image: url("images/ggh.jpg");
    background-position: 50% 50%;
}

    .u-section-3 .u-sheet-1 {
        min-height: 734px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 1140px;
        margin: 0 auto;
    }

    .u-section-3 .u-image-1 {
        min-height: 734px;
        background-image: url("../images/img-decord/nha-sach-phuong-nam-2-1.jpg");
        background-position: 50% 50%;
    }

    .u-section-3 .u-container-layout-1 {
        padding: 30px 0;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 734px;
    }

    .u-section-3 .u-container-layout-2 {
        padding: 60px 31px;
    }

    .u-section-3 .u-text-1 {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 2;
        margin: 226px 1px 0;
    }

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 476px;
    }

    .u-section-3 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-3 .u-image-1 {
        min-height: 697px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 697px;
    }

    .u-section-3 .u-text-1 {
        margin-right: 101px;
        margin-left: 93px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 669px;
    }

    .u-section-3 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-3 .u-image-1 {
        min-height: 463px;
    }

    .u-section-3 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-3 .u-container-layout-2 {
        padding: 30px;
    }

    .u-section-3 .u-text-1 {
        font-size: 1.125rem;
        margin-right: 39px;
        margin-left: 31px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1225px;
    }

    .u-section-3 .u-layout-wrap-1 {
        margin-top: 130px;
        margin-bottom: 54px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-image-1 {
        min-height: 833px;
        order: 0;
    }

    .u-section-3 .u-container-layout-1 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-3 .u-layout-cell-2 {
        order: 1;
    }

    .u-section-3 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-3 .u-sheet-1 {
        min-height: 1018px;
    }

    .u-section-3 .u-layout-wrap-1 {
        margin-top: 140px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-image-1 {
        min-height: 524px;
    }

    .u-section-3 .u-text-1 {
        margin-right: 0;
        margin-left: 0;
    }
}

.u-section-4 .u-sheet-1 {
    min-height: 50px;
}

.u-section-5 {
    background-image: url("images/ggh.jpg");
    background-position: 50% 50%;
}

    .u-section-5 .u-sheet-1 {
        min-height: 734px;
    }

    .u-section-5 .u-layout-wrap-1 {
        width: 1140px;
        margin: 0 auto;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 734px;
    }

    .u-section-5 .u-container-layout-1 {
        padding: 60px 30px 60px 35px;
    }

    .u-section-5 .u-text-1 {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 2;
        margin: 247px 0 0;
    }

    .u-section-5 .u-image-1 {
        background-image: url("../images/img-decord/a-room-without-books-body-without-soul-cicero-quote-min.jpg");
        background-position: 50% 50%;
        min-height: 734px;
    }

    .u-section-5 .u-container-layout-2 {
        padding: 30px 0;
    }

@media (max-width: 1199px) {
    .u-section-5 .u-sheet-1 {
        min-height: 476px;
    }

    .u-section-5 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 697px;
    }

    .u-section-5 .u-image-1 {
        min-height: 697px;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
        min-height: 669px;
    }

    .u-section-5 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 669px;
    }

    .u-section-5 .u-container-layout-1 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .u-section-5 .u-text-1 {
        font-size: 1.125rem;
    }

    .u-section-5 .u-image-1 {
        min-height: 669px;
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-sheet-1 {
        min-height: 1225px;
    }

    .u-section-5 .u-layout-wrap-1 {
        margin-top: 130px;
        margin-bottom: 54px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 317px;
        order: 1;
    }

    .u-section-5 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-text-1 {
        margin-top: 0;
    }

    .u-section-5 .u-image-1 {
        min-height: 724px;
        order: 0;
    }

    .u-section-5 .u-container-layout-2 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-sheet-1 {
        min-height: 1018px;
    }

    .u-section-5 .u-layout-wrap-1 {
        margin-top: 140px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-5 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-5 .u-text-1 {
        width: auto;
    }

    .u-section-5 .u-image-1 {
        min-height: 456px;
    }
}

.u-section-6 .u-sheet-1 {
    min-height: 50px;
}

.u-section-7 {
    background-image: url("images/ggh.jpg");
    background-position: 50% 50%;
}

    .u-section-7 .u-sheet-1 {
        min-height: 734px;
    }

    .u-section-7 .u-layout-wrap-1 {
        width: 1140px;
        margin: 0 auto;
    }

    .u-section-7 .u-image-1 {
        min-height: 734px;
        background-image: url("../images/img-decord/29613672-0.jpeg");
        background-position: 50% 50%;
    }

    .u-section-7 .u-container-layout-1 {
        padding: 30px 0;
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 734px;
    }

    .u-section-7 .u-container-layout-2 {
        padding: 60px 31px;
    }

    .u-section-7 .u-text-1 {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 2;
        margin: 226px 1px 0;
    }

@media (max-width: 1199px) {
    .u-section-7 .u-sheet-1 {
        min-height: 476px;
    }

    .u-section-7 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-7 .u-image-1 {
        min-height: 697px;
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 697px;
    }

    .u-section-7 .u-text-1 {
        margin-right: 101px;
        margin-left: 93px;
    }
}

@media (max-width: 991px) {
    .u-section-7 .u-sheet-1 {
        min-height: 669px;
    }

    .u-section-7 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-7 .u-image-1 {
        min-height: 463px;
    }

    .u-section-7 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-7 .u-container-layout-2 {
        padding: 30px;
    }

    .u-section-7 .u-text-1 {
        font-size: 1.125rem;
        margin-right: 39px;
        margin-left: 31px;
    }
}

@media (max-width: 767px) {
    .u-section-7 .u-sheet-1 {
        min-height: 1225px;
    }

    .u-section-7 .u-layout-wrap-1 {
        margin-top: 130px;
        margin-bottom: 54px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-7 .u-image-1 {
        min-height: 833px;
        order: 0;
    }

    .u-section-7 .u-container-layout-1 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .u-section-7 .u-layout-cell-2 {
        order: 1;
    }

    .u-section-7 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-7 .u-sheet-1 {
        min-height: 1018px;
    }

    .u-section-7 .u-layout-wrap-1 {
        margin-top: 140px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-7 .u-image-1 {
        min-height: 524px;
    }

    .u-section-7 .u-text-1 {
        margin-right: 0;
        margin-left: 0;
    }
}

.u-section-8 .u-sheet-1 {
    min-height: 50px;
}

.u-section-9 {
    background-image: url("images/ggh.jpg");
    background-position: 50% 50%;
}

    .u-section-9 .u-sheet-1 {
        min-height: 734px;
    }

    .u-section-9 .u-layout-wrap-1 {
        width: 1140px;
        margin: 0 auto;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 734px;
    }

    .u-section-9 .u-container-layout-1 {
        padding: 60px 30px 60px 35px;
    }

    .u-section-9 .u-text-1 {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 2;
        margin: 247px 3px 0;
    }

    .u-section-9 .u-image-1 {
        background-image: url("../images/img-decord/29613672-01.jpeg");
        background-position: 50% 50%;
        min-height: 734px;
    }

    .u-section-9 .u-container-layout-2 {
        padding: 30px 0;
    }

@media (max-width: 1199px) {
    .u-section-9 .u-sheet-1 {
        min-height: 476px;
    }

    .u-section-9 .u-layout-wrap-1 {
        width: 940px;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 697px;
    }

    .u-section-9 .u-text-1 {
        margin-right: 0;
        margin-left: 0;
    }

    .u-section-9 .u-image-1 {
        min-height: 697px;
    }
}

@media (max-width: 991px) {
    .u-section-9 .u-sheet-1 {
        min-height: 669px;
    }

    .u-section-9 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 669px;
    }

    .u-section-9 .u-container-layout-1 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .u-section-9 .u-text-1 {
        font-size: 1.125rem;
    }

    .u-section-9 .u-image-1 {
        min-height: 669px;
    }
}

@media (max-width: 767px) {
    .u-section-9 .u-sheet-1 {
        min-height: 1225px;
    }

    .u-section-9 .u-layout-wrap-1 {
        margin-top: 130px;
        margin-bottom: 54px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 317px;
        order: 1;
    }

    .u-section-9 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-9 .u-text-1 {
        margin-top: 0;
    }

    .u-section-9 .u-image-1 {
        min-height: 724px;
        order: 0;
    }

    .u-section-9 .u-container-layout-2 {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width: 575px) {
    .u-section-9 .u-sheet-1 {
        min-height: 1018px;
    }

    .u-section-9 .u-layout-wrap-1 {
        margin-top: 140px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-9 .u-layout-cell-1 {
        min-height: 100px;
    }

    .u-section-9 .u-text-1 {
        width: auto;
    }

    .u-section-9 .u-image-1 {
        min-height: 456px;
    }
}
