.help {
    width: 90%;
    padding: 16px 0;
    margin-left: auto;
    margin-right: auto;
}
.heading {
    text-align: center;
    font-weight: 300 ;
    font-style: italic;
    color: rgb(201, 74, 65);
    letter-spacing: 2px
}

.help-body {
    margin-top: 15px;
    line-height: 20px;
}
#content {
    height: fit-content;
    background-color: bisque;
}

    #content .content-section {
        width: 70%;
        padding: 16px 0;
        margin-left: auto;
        margin-right: auto;
    }

    #content .content-heading {
        font-size: 30px;
        text-align: center;
        font-weight: 500;
        letter-spacing: 4px;
        padding-top: 50px;
    }

    #content .content-sub-heading {
        text-align: center;
        font-style: italic;
        font-size: 15px;
        margin-top: 25px;
        opacity: 0.6;
    }

.tour-section {
    background-color: #000;
}
