
@{
    ViewBag.Title = "About";
}

<html style="font-size: 16px;">

<body class="u-body u-xl-mode">
    <section class="u-clearfix u-image u-section-1" id="carousel_8b09">
        <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-xs u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xl u-container-style u-layout-cell u-size-25 u-layout-cell-1" data-href="https://nicepage.com">
                            <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
                                <p class="u-text u-text-1"> FPT Bookstore is one of the leading commercial websites in Vietnam market today.</p>
                            </div>
                        </div>
                        <div class="u-align-right u-container-style u-image u-layout-cell u-size-35 u-image-1" data-image-width="1019" data-image-height="593">
                            <div class="u-container-layout u-container-layout-2">
                                <div class="u-align-center-sm u-align-center-xs u-container-style u-group u-palette-2-base u-group-1">
                                    <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-container-layout-3">
                                        <h5 class="u-custom-font u-font-pt-sans u-text u-text-2">FPT BOOKSTORE APLICATION</h5>
                                        <h2 class="u-text u-text-3">Welcome!</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-clearfix u-image u-section-3" id="sec-c832">
        <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-xs u-align-right-lg u-align-right-md u-align-right-sm u-align-right-xl u-container-style u-image u-layout-cell u-size-35 u-image-1" data-image-width="1019" data-image-height="596">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-align-justify u-container-style u-layout-cell u-size-25 u-layout-cell-2">
                            <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-2">
                                <p class="u-text u-text-1">
                                    Operating since 2001, FPT Bookstore is a reputable and familiar bookstore system that distributes books and stationery through nearly 50 modern bookstores nationwide. In addition, FPT Bookstore also publishes thousands of quality and copyrighted books from reputable domestic and foreign suppliers. <br>A rich product list, many exclusive products, carefully selected have made the difference of FPT Bookstore and built the trust and love of customers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-4" id="sec-b17a">
        <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>

    <section class="u-clearfix u-image u-section-5" id="sec-d619">
        <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-xs u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xl u-container-style u-layout-cell u-size-25 u-layout-cell-1" >
                            <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
                                <p class="u-text u-text-1">
                                    "A great book should leave you with many experiences, and slightly exhausted at the end. You live several lives while reading."<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -William Styron
                                </p>
                            </div>
                        </div>
                        <div class="u-align-right u-container-style u-image u-layout-cell u-size-35 u-image-1" data-image-width="720" data-image-height="720">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-6" id="sec-ca70">
        <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>

    <section class="u-clearfix u-image u-section-7" id="sec-0eab">
        <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-xs u-align-right-lg u-align-right-md u-align-right-sm u-align-right-xl u-container-style u-image u-layout-cell u-size-35 u-image-1" data-image-width="1536" data-image-height="1536">
                            <div class="u-container-layout u-container-layout-1"></div>
                        </div>
                        <div class="u-align-justify u-container-style u-layout-cell u-size-25 u-layout-cell-2">
                            <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-2">
                                <p class="u-text u-text-1">
                                    "I love books. I adore everything about them. I love the feel of the pages on my fingertips. They are light enough to carry, yet so heavy with worlds and ideas. I love the sound of the pages flicking against my fingers. Print against fingerprints. Books make people quiet, yet they are so loud."<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;-Nnedi Okorafor
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="u-clearfix u-section-8" id="sec-2c38">
        <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>

    <section class="u-clearfix u-image u-section-9" id="sec-5888">
        <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
            <div class="u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-center-xs u-align-justify-lg u-align-justify-md u-align-justify-sm u-align-justify-xl u-container-style u-layout-cell u-size-25 u-layout-cell-1" >
                            <div class="u-container-layout u-valign-top-sm u-valign-top-xs u-container-layout-1">
                                <p class="u-text u-text-1">
                                    "Books are good company, in sad times and happy times, for books are people – people who have managed to stay alive by hiding between the covers of a book."<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;- E.B. White
                                </p>
                            </div>
                        </div>
                        <div class="u-align-right u-container-style u-image u-layout-cell u-size-35 u-image-1" data-image-width="1536" data-image-height="1536">
                            <div class="u-container-layout u-container-layout-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
