
@{
    ViewBag.Title = "BookDetail";
}


<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col col-sm-6">
            <img src="~/Assets/images/img-Books/Buon-lam-sao-buong-AnhKhang.jpg" class="rounded mx-auto d-block" alt="...">
        </div>
        <div class="col col-sm-6">
            <h4>Name Book</h4>
            <div class="row">
                <div class="col col-sm-5">
                    <p class="fst-italic">
                        Author:
                        <Span class="text-info fw-lighter"> Tran Phuoc Hao</Span>
                    </p>
                </div>
                <div class="col col-sm-7">
                    <p class="fst-italic">
                        Category:
                        <Span class="text-info fw-lighter"> History</Span>
                    </p>
                </div>
            </div>
            <p class="fw-bolder">Price: <Span class="text-danger">$ 1000</Span></p>
            <form action="">
                <div class="row">
                    <div class="col col-sm-6">
                        <input type="number" class="form-control" placeholder="0">
                    </div>
                    <div class="col col-sm-6">
                        <button class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </form>
            <h5 class="fst-italic mt-3">Description</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta magni minus provident rerum autem adipisci. Veritatis iusto fugiat sunt consequuntur culpa distinctio sequi accusamus omnis, id veniam inventore adipisci. Quam.</p>
        </div>
    </div>
</div>


