
@{
    ViewBag.Title = "Help";
}

    <div id="content">
        <div class="tour-section">
            <div class="content-section">
                <h2 class="content-heading text-white">Help Topics</h2>
                <p class="content-sub-heading text-white">Below are some helping topic help you to fix some issue when using our service</p>
            </div>
        </div>
        <div class="help">
            <div class="help-content">
                <h3 class="heading">1. Register an account</h3>
                <div class="help-body" style="margin-left:35%">
                    To sign up for an account, you need to follow these steps: <br />
                    1. Go to the homepage of FPT Bookstore. <br />
                    2. Click Register on the navigation bar. <br />
                    3. Enter full information to register. <br />
                    4. Click Register to complete the registration.
                </div>
            </div>
        </div>
        <div class="help">
            <div class="help-content">
                <h3 class="heading">2. Log in to your account</h3>
                <div class="help-body" style="margin-left:35%">
                    To log in to your account, if you have already registered, follow these steps:<br />
                    1. Go to the homepage of FPT Bookstore.<br />
                    2. Click Login on the navigation bar.<br />
                    3. Fill in all valid information.<br />
                    4. Click Login to login your account into the system.

                </div>
            </div>
        </div>
        <div class="help">
            <div class="help-content">
                <h3 class="heading">3. Change Password</h3>
                <div class="help-body" style="margin-left:35%">
                    To change your password if you're already logged in:<br />
                    1. Click on your account in the top right of Facebook.<br />
                    2. Enter your current password and your new password.<br />
                    3. Re-enter the password to confirm.<br />
                    4. Click Save to change pasword.
                </div>
            </div>
        </div>
        <div class="help">
            <div class="help-content">
                <h3 class="heading">4. Buy books</h3>
                <div class="help-body" style="margin-left:35%">
                    To purchase a book you need to follow these steps:<br />
                    1. Go to the homepage of FPT Bookstore.<br />
                    2. Log in to the system.<br />
                    3. Find the book you want to buy. <br />
                    4. Tap the book you're looking for.<br />
                    5. Click the Add to Cart button to add the book to the cart.<br />
                    6. Click on Cart.<br />
                    7. Click Buy to buy the book.<br />
                </div>
            </div>
        </div>
       